<!-- <div class="wrapper">
  <div class="form" [formGroup]="delForm">
    <h1>MEDNEXUS</h1>
    <div class="fields">
      <label for="">Mobile Number</label>
      <input
        type="tel"
        placeholder="XXXX-XXXX-XX"
        class="inp"
        formControlName="user_mobile"
      />
    </div>
    <div class="fields">
      <label for="">Reason</label>
      <input
        type="text"
        placeholder="Reason"
        class="inp"
        formControlName="reason"
      />
    </div>
    <button
      class="btn"
      [disabled]="!delForm.valid"
      (click)="submit(delForm.value)"
    >
      Submit
    </button>
  </div>
</div> -->
<router-outlet></router-outlet>
